.field {
    position: relative;
}

.input {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.label {
    // color: #ffffff;
    font-family: var(--body-font);
    letter-spacing: 1px;

    cursor: pointer;
    // text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    max-width: 300px;
    // line-height: 40px;
    // width: 300px;
    padding: 6px 30px;
    // background-color: hsl(var(--secondary-hue) 100% 42%);
    // display: inline-block;
    outline: none;
    transition: all 0.3s ease-in-out;

    color: #000;
    border: 2px solid rgba(3, 121, 255, 0.5);

    &:hover {
        border-color: rgba(17, 97, 237, 1);
    }
}

.icon {
    width: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 5px;
}

.rounded {
    border-radius: 12px;
}

.round {
    border-radius: 3em;
    padding: 6px 20px;
}
