.list {
    max-height: 300px;
    overflow-y: auto;
}
.listItem {
    display: flex;
    align-items: center;
    padding: 6px 12px;
}

.link {
    margin-left: 10px;
    color: var(--button-color);

    &:hover {
        text-decoration: underline;
    }
}

.choose {
    margin-left: 10px;
    cursor: pointer;
    color: var(--button-color);
}
