.select {
    position: relative;
    display: flex;
    // width: 100%;

    &.close {
        .icon {
            transform: translateY(-50%) rotate(0deg);
        }

        .options {
            overflow: hidden;
            max-height: 0px;
            // padding: 0;
            border-width: 0;
        }
    }
}

.selected {
    text-overflow: ellipsis; //образка длинных блоков с текстом
    overflow: hidden; //прятать выходящий за пределы текст
    width: 100%; //ширина блока с текстом
    white-space: nowrap;
    cursor: pointer;
    padding: 4px 12px;
    padding-right: 26px;
    // padding: 7px 15px;
    border: 2px solid rgba(3, 121, 255, 0.5);
    border-radius: 12px;
    transition: all 0.3s ease-in-out;

    .icon {
        transition: all 0.3s ease-in-out;
        position: absolute;
        right: 10px;
        top: 50%;
        transform: translateY(-50%) rotate(180deg);
    }

    &:hover {
        border-color: rgba(17, 97, 237, 1);
    }
}

.options {
    position: absolute;
    left: 0;
    top: 45px;
    overflow-y: auto;
    max-height: 350px;
    z-index: 15;
    width: 100%;
    transition: all 0.5s ease-in-out;
    border: 2px solid rgba(17, 97, 237, 0.5);
    border-radius: 12px;
}

.option {
    background-color: #fff;
    // padding: 7px 20px;
    padding: 4px 15px;
    cursor: pointer;
    position: relative;
    transition: all 0.3s ease-in-out;

    &:hover {
        background-color: var(--button-bg-color);
    }

    &.disabled {
        background-color: #eee;
        pointer-events: none;
    }
}

.active {
    color: var(--button-color);
}
