.table {
    padding: 20px 30px;
    border-radius: 12px;
    background-color: var(--theme-bg-color);
    box-shadow: 0px 0px 4px 0px #2626262b;
}

.empty {
    font-size: 1.3rem;
    text-align: center;
}

.row {
    display: grid;
    grid-template-columns: 3fr 1fr 1fr 1fr 4fr;
}
.th {
    // text-align: center;
    font-weight: 500;
    background: #d8d8d8;

    &:first-child {
        border-radius: 8px 0 0 8px;
    }
    &:last-child {
        border-radius: 0 8px 8px 0;
    }
}

.th,
.td {
    padding: 10px 15px;
    cursor: default;
    // border: 1px solid var(--border-color);
}

.tr {
    &:nth-child(odd) {
        background: #f3f3f3;
        border-radius: 8px;
    }
}

.description {
    transition: all 0.3s ease-in-out;
    text-align: justify;
    max-height: 80px;

    overflow: hidden;

    &:hover {
        max-height: 200px;
    }
}

.input {
    cursor: text;
    display: flex;
    border: none;
    outline: none;
    background-color: transparent;
    max-height: 45px;
    width: 100%;
}
