.wrapper {
    align-self: center;
    display: flex;
    max-width: 1180px;
    padding: 0 10px;
    width: 100%;
    align-items: center;
    // margin-top: 20px;
    margin-bottom: 30px;
}

.form {
    flex-grow: 1;

    &-button {
        max-width: 40%;
        margin: 0 auto;
    }
}

.divider {
    margin: 20px;
    height: 1px;
    background-color: var(--button-color);
}

.line-image {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

// .line {
//     display: flex;
//     gap: 20px;
//     justify-content: space-between;
//     align-items: flex-start;

//     &-item {
//         display: grid;
//         // grid-template-columns: 8fr 1fr 1fr 1fr 1fr;
//         grid-template-columns: 8fr 0.5fr 3fr 0.5fr;
//         align-items: center;
//         gap: 10px;
//         margin-bottom: 10px;
//         width: 100%;

//         &:last-child {
//             margin-bottom: 0;
//         }

//         & .designation {
//             justify-self: center;
//         }

//         & .line-field {
//             grid-column-start: 3;
//             grid-column-end: 5;
//         }
//     }
// }

.line {
    display: grid;
    // grid-template-columns: 8fr 1fr 1fr 1fr 1fr;
    grid-template-columns: 8fr 0.5fr 3fr 0.5fr;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;

    &:last-child {
        margin-bottom: 0;
    }

    & .designation {
        justify-self: center;
    }

    // & .line-input {
    //     grid-column-start: 3;
    //     grid-column-end: 5;
    // }

    // & .line-select {
    //     grid-column-start: 3;
    //     grid-column-end: 6;
    // }

    & .line-field {
        grid-column-start: 3;
        grid-column-end: 5;
    }

    // & .units {
    //     grid-column-start: 5;
    // }
}