.container {
    padding: 20px 30px;
    border-radius: 12px;
    background-color: var(--theme-bg-color);
    box-shadow: 0px 0px 4px 0px #2626262b;
    flex-grow: 1;
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.list {
    flex-basis: 24%;
    flex-grow: 1;
    border-right: 1px solid var(--button-color);

    &-title {
        color: var(--button-color);
        font-size: 1.1rem;
        margin: 0;
        margin-bottom: 10px;
        text-align: center;
    }

    &-button {
        margin-bottom: 10px;
        margin-right: 10px;
    }

    &-item {
        padding: 3px 14px;
        border-bottom: 1px solid var(--button-bg-color);
        border-left: 2px solid transparent;
        cursor: pointer;
        display: flex;
        transition: border-left-color .3s ease-in-out;

        &--active {
            border-left-color: var(--button-color);
        }
    }

    & .edit-icon {
        color: var(--button-color);
        font-size: 20px;
        line-height: 14px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 24px;
        height: 24px;
        margin-left: auto;
    }
}

.content {
    flex-grow: 1;
    flex-basis: 76%;
    max-height: 750px;
    min-height: 400px;
    padding-right: 10px;
    overflow: auto;

    &-title {
        font-weight: 500;
        text-align: center;
        font-size: 1.1rem;
        margin-bottom: 15px;
    }

    &-data {
        display: flex;
        flex-direction: column;
        gap: 10px;
        margin-bottom: 15px;

        & .inputs {
            display: flex;
            gap: 10px;

            &>div {
                flex-grow: 1;
            }
        }
    }

    .button {
        width: 30%;
        align-self: center;
    }

    .table {
        margin-top: 20px;
        flex-grow: 1;
        // max-width: 450px;
        margin-right: 36px;

        &-header,
        &-row {
            display: grid;
            grid-template-columns: repeat(10, 1fr);
            position: relative;

            &>.column,
            &>.column-select {
                padding: 4px 6px;
                flex-grow: 1;
                // display: flex;
                // justify-content: center;
                // align-items: center;
                border: 1px solid var(--button-bg-color);
                text-align: center;
                width: 100%;

                &:focus {
                    outline-color: var(--button-color);
                }

            }

            &>.column-select {
                background-color: #fff;
            }

            .icon,
            .icon-delete {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 30px;
                height: 28px;
                cursor: pointer;
                background-color: var(--button-bg-color);
                border-radius: 6px;
                padding: 6px;
                margin: 3px;
                outline: none;
                border: none;
                position: absolute;
                right: -36px;
            }

            .icon-delete {
                color: var(--danger-color);
                font-size: 20px;
            }
        }

        & .btn {
            margin-top: 10px;
            display: flex;
            justify-content: center;
            gap: 10px;
            flex-wrap: wrap;
        }
    }
}

.modal {
    &-btns {
        flex-grow: 1;
        display: flex;
        gap: 10px;
    }
}