.group {
    margin-bottom: 10px;
}
.inline {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.box {
    display: flex;
    align-items: center;

    & > div:not(:only-child):first-child {
        margin-right: 5px;
    }
    // & > div:last-child {
    //     max-width: 150px;
    // }
}

.mater {
    & div {
        width: 300px;
    }
}

.titleGroup {
    font-weight: 500;
    margin-bottom: 5px;
    margin-left: 10px;
}
