.container,
.sideContainer,
.resultContainer {
    padding: 20px 30px;
    border-radius: 12px;
    background-color: var(--theme-bg-color);
    box-shadow: 0px 0px 4px 0px #2626262b;
}
.container,
.resultContainer {
    display: flex;
    justify-content: space-between;
    // flex-wrap: wrap;
}
.resultContainer {
    flex-direction: column;
}

.container,
.resultContainer {
    grid-column-start: 1;
    grid-column-end: 8;
}
.sideContainer {
    grid-column-start: 8;
    grid-column-end: 13;
    grid-row-start: 1;
    grid-row-end: 4;
}
// .resultContainer {
//     grid-column-start: 1;
//     grid-column-end: 13;
// }

.block {
    margin-right: 10px;
    display: flex;
    flex-direction: column;
    width: 50%;
    // overflow-y: hidden;

    &:last-child {
        margin-right: 0;
    }

    &.full {
        flex-grow: 1;
    }
}
.blockImage {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    min-width: 300px;
    // max-width: 500px;
}

.putgDrawing,
.snpDrawFl,
.snpDraw,
.putgDrawFl {
    overflow: visible;
}

.putgDrawing,
.snpDrawFl {
    flex-basis: 55%;
}
.snpDraw {
    flex-basis: 50%;
}
.putgDrawFl {
    flex-basis: 65%;
}

.title {
    font-weight: 500;
    text-align: center;
    border-bottom: 1px solid var(--border-color);
    margin-bottom: 10px;
}

.group {
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
}
.inline {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
}
.box {
    display: flex;
    align-items: center;

    & > div:not(:only-child):first-child {
        margin-right: 5px;
    }
    // & > div:last-child {
    //     max-width: 150px;
    // }
}

.mater {
    & div {
        // width: 300px;
        flex-basis: 60%;
    }
}

.titleGroup {
    font-weight: 500;
    margin-bottom: 5px;
    padding-left: 10px;
}

.variants {
    position: relative;
    z-index: 5;
    padding: 5px 14px;
    color: var(--button-color);
    border-radius: 40px;
    transition: all 0.3s ease-in-out;
    font-weight: 500;
    cursor: pointer;
    white-space: nowrap;

    &:hover:not(.active) {
        background-color: #ffffff;
    }

    &.active {
        pointer-events: none;
        color: #fff;
    }
}

.image {
    margin: auto 0;
}

.typeDraw {
    position: relative;
}

@media (max-width: 1080px) {
    .container,
    .resultContainer {
        grid-column-start: 1;
        grid-column-end: 13;
    }
    .sideContainer {
        grid-column-start: 1;
        grid-column-end: 13;
        grid-row-start: 3;
    }
}

@media (max-width: 720px) {
    .container {
        flex-wrap: wrap;
    }
    .snpDraw,
    .putgDrawing {
        flex-basis: 100%;
        max-height: 250px;
    }
    .blockImage {
        max-height: 220px;
    }
}
@media (max-width: 600px) {
    .block {
        margin-right: 0;
    }
    .snpDrawFl,
    .putgDrawFl {
        flex-basis: 100%;
        max-height: 250px;
    }
}
@media (max-width: 560px) {
    .container,
    .sideContainer,
    .resultContainer {
        padding: 10px 12px;
    }
    .mater {
        & div {
            flex-basis: 100%;
        }
    }
}
