.field {
    display: flex;
    margin: 10px 0;
    position: relative;

    &.vertical {
        flex-direction: column;
    }

    &.horizontal {
        flex-direction: row;
        align-items: center;

        .input {
            flex-grow: 1;
        }

        .label {
            font-size: 1.2rem;
            margin-bottom: 0;
            margin-right: 15px;
        }
    }
}

.label {
    // font-size: 0.75rem;
    margin-bottom: 10px;
}

.input {
    padding: 0.5rem 1rem;
    border: 2px solid rgba(3, 121, 255, 0.5);
    letter-spacing: 1px;
    transition: 0.3s all ease-in-out;
    outline: none;

    &:active,
    &:focus {
        border-color: rgba(17, 97, 237, 1);
    }

    &.round {
        border-radius: 3em;
    }

    &.rounded {
        border-radius: 12px;
    }

    &.invalid {
        border-color: var(--danger-color);
    }
}

.error {
    position: absolute;
    bottom: -23px;
    color: var(--danger-color);
    font-size: 0.85rem;
    display: flex;
    width: 100%;
    justify-content: center;
}
