.header {
    border-bottom: 2px solid hsl(var(--primary-hue), 92%, 33%);
    box-shadow: 0 0 6px 2px #00000036;
    background-color: var(--theme-bg-color);
}

.content {
    padding: 15px 10px;
    max-width: 1580px;
    margin: 0 auto;
    height: 80px;
    display: flex;
}

.logo {
    width: auto;
    height: 50px;
}

.admin {
    margin-left: auto;
    display: flex;
    align-items: center;
    justify-content: center;

    // border: 1px solid var(--button-color);
    // padding: 2px 12px;
    // border-radius: 8px;
}

.link {
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon {
    height: 20px;
    width: auto;
    flex-grow: 1;
    margin-right: 5px;
    fill: var(--button-color);
}

.home-icon {
    width: auto;
    height: 30px;
}

.profile {
    // margin-left: 20px;
    padding-left: 20px;
    // padding-right: 20px;
    // margin-right: -20px;
    height: 100%;
    width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    position: relative;

    &:hover {
        & .items {
            opacity: 1;
            visibility: visible;
        }
    }

    & .items {
        position: absolute;
        top: 50px;
        z-index: 10;

        overflow: hidden;
        border-radius: 8px;
        border: 1px solid var(--button-color);
        background-color: #fff;

        opacity: 0;
        visibility: hidden;
        transition: opacity .4s ease-in-out;
    }

    & .item {
        display: block;
        color: #000;
        padding: 8px 40px;
        white-space: nowrap;
        transition: background-color .3s ease-in-out;

        &:hover {
            background-color: var(--button-bg-color);
        }
    }
}

@media (max-width: 1680px) {
    .items {
        right: 5px;
    }
}